version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: nest-pipeline-rabbitmq
    ports:
      - '5672:5672'
      - '15672:15672'
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 5

  mongodb:
    image: mongo:8
    container_name: nest-pipeline-mongodb
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_DATABASE: nest-pipeline
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/nest-pipeline --quiet
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mongo-data:
